/* header */
.mypage_nav-container {
  width: 100%;
  height: 75px;
  background-color: #46abf4;
  display: flex;
  justify-content: space-between;
}



img {
  max-width: 100%;
  height: auto;
}


.mypage_logo-container {
  padding: 1rem;
  width: 180px;
  height: 80%;
}

.searchContainer {
  width: 300px;
}

.searchBar {
  background-color: rgba(255, 255, 255, 0.76);
  border: 2px solid lightgray;
  margin-top: 20px;
  border-radius: 20px;
  height: 45%;
  width: 100%;
}

#nav-search {
  color: #000000;
  margin: 3px 5px 5px 0;
  float: right;
}

.menuBtn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
}

.user-icon-box > button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 30px;
}

.user-icon-box > button > span > i {
  font-size: 50px;
}

.user-btn {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.mypage_section_box {
  width: 100%;
  height: 100%;
  background-color: #46abf4;
  display: flex;
  justify-content: space-between;
}

.sideMenu_box {
  width: 10%;
  height: 100%;
  background-color: #46abf4;
  display: flex;
  justify-content: center;
}

.contents_box {
  width: 90%;
  height: 100%;
  border-radius: 53px 0px 0px 0px;
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
}

.sideMenu_container {
  width: 100%;
  margin-top: 65px;
}

.sideMenu {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #f7f8fa;
  line-height: 50px;
  cursor: pointer;
}

.sideMenu:hover {
  width: 100%;
  height: 50px;
  color: #000000;
  background-color: rgba(241, 246, 248, 0.932);
}

.sideMenu > a {
  color: #f7f8fa;
}

.sideMenu > a:hover {
  color: black;
}

ul {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #f7f8fa;
  line-height: 50px;
  cursor: pointer;
}

.sideMenu {
  width: 100% auto;
}
.focused {
  background-color: #f7f8fa;
  color: #000000;
}
.active1 {
  color: #000000 !important;
  font-size: 18px;
  line-height: 50px;
}

/* dashboard page */

.wrapper {
  margin: 5% 0 0 0;
  /* padding: 10%; */
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
}

card {
  width: 40%;
  padding: 5px;
  margin: 10px;
  height: 60%;
  background: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.301);
  border-radius: 20px;
}

.card_title {
  font-family: "Cafe24Ssurround";
  margin: 10px auto 0 auto;
  text-align: center;
  font-size: 20px;
}

.card_content {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 55%;
}

#user-circle {
  color: gray;
  margin: 10px;
}

button {
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  background: #f9e450;
  width: 100px;
  height: 30px;
}

#dash-addBtn {
  font-family: "Cafe24Ssurround";
  font-size: 16px;
  width: 90%;
  height: 40px;
}

.list_box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  text-align: center;
  width: 90%;
  height: 80%;
}

@media (max-width: 470px) {
  /*반응형 대응을 위한 스타일*/
  .list_box {
    width: 50%;
  }
}

.fa-car {
  color: gray;
  margin: 10px;
}

.content1 {
  margin: 5px 0 20px 0;
}

li {
  font-family: "Cafe24SsurroundAir";
  text-align: center;
  list-style: none;
}

#dash-table {
  width: 100%;
  border-collapse: collapse;
}
#dash-addr-th:nth-child(1) {
  width: 10%;
}

#dash-addr-th:nth-child(2) {
  width: 30%;
}

#dash-th:nth-child(1) {
  width: 30%;
}

#dash-th:nth-child(2) {
  width: 30%;
}

#dash-th {
  background-color: lightgrey;
  color: #f7f8fa;
  font-size: 15px;
  padding: 10px;
}

#userInfo {
  font-family: "Cafe24SsurroundAir";
  font-size: 15px;
  background-color: #fff;
  color: #000000;
}

#table-addr-d {
  text-align: center;
  font-weight: bold;
}

#dash-td {
  font-family: "Cafe24SsurroundAir" !important;
  border-bottom: 2px solid #e0e2e7;
  font-size: 15px;
  padding: 10px;
  text-align: left;
}

.moreBtn-box {
  margin-top: 10px;
}

#moreBtn {
  margin: 20px;
  height: 40px;
}

/* car list page */

.carlist-area {
  width: 60%;
  margin-top: 100px;
}

.carlist-title {
  text-align: center;
  font-size: 40px;
  font-family: "Jua", sans-serif;
}

.carlist-addBtn {
  width: 100%;
  height: 50px;
}

.carlist-addBtn > a > button {
  margin-top: 10px;
  float: right;
  width: 100px;
  height: 40px;
  background: #f9e450;
  border: 2px solid #1b1b1b;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.table-d {
  font-weight: bold;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 25%;
}

th {
  background-color: #e6f915;
  color: #0000007e;
  padding: 10px;
  font-size: 17px;
}

tr {
  cursor: pointer;
}

td {
  border-bottom: 2px solid lightgrey;
  padding: 13px;
  text-align: center;
}

.fa-trash-alt {
  font-size: 28px;
  cursor: pointer;
}

/* car search page */

.search-box {
  width: 650px;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-area {
  text-align: center;
  font-size: 40px;
  margin: 20px;
  font-family: "Jua", sans-serif;
}

.search-area {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 450px;
  height: 45px;
}

.search-btn {
  width: 14%;
  height: 45px;
  text-align: center;
  border-radius: 0 10px 10px 0;
  background-color: #f9e450;
  border: 2px solid black;
  cursor: pointer;
}

.search-btn > i {
  font-size: 30px;
  line-height: 40px;
}

.search-input > input {
  width: 100%;
  height: 45px;
  border: 2px solid lightgray;
  background-color: #e0e2e7;
  border-radius: 10px 0px 0px 10px;
  font-size: 20px;
}

.addBtn-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.addBtn-box > div > button {
  width: 130px;
  height: 40px;
  background: #f9e450;
  border: 2px solid #1b1b1b;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.addBtn-box > div > button:hover {
  background: #ffbb38;
}

/* result area */

.result-box {
  width: 100%;
}
/* address list page */

.addrlist_content {
  margin-top: 100px;
}
.address-title {
  width: 100%;
  height: 75px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* user profile page */

.userinfo_box {
  width: 50%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-title {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 30px;
  font-family: "Jua", sans-serif;
}

.userinfo_icon-area {
  text-align: center;
}

.fa-user-circle {
  font-size: 70px;
}

.userinfo_icon-area {
  width: 100%;
  height: 80px;
}

.userinfo_info-area {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.userinfo_info {
  width: 50%;
  border: 2px solid lightgray;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoTable {
  padding: 15px;
}

.info-box {
  margin-top: 10px;
}

.userinfo-btn_area {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 15px;
}

.editBtn > a > button {
  color: #000000;
  margin: 10px;
  float: right;
  width: 200px;
  height: 40px;
  background: #f9e450;
  border: 2px solid #1b1b1b;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.deleteBtn > button {
  margin: 10px;
  float: right;
  width: 200px;
  height: 40px;
  background: #f9e450;
  border: 2px solid #1b1b1b;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.deleteBtn > button:hover {
  background: #ffbb38;
}

.editBtn > a > button:hover {
  background: #ffbb38;
}

/* edit user profile page */

.edituserinfo_box {
  width: fit-content;
  margin-top: 100px;
}

.edituserinfo-title {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 30px;
  font-family: "Jua", sans-serif;
}

.edituserinfo_icon-area {
  text-align: center;
}

.fa-user-circle {
  font-size: 70px;
}

.userinfo_icon-area {
  width: 100%;
  height: 80px;
}

.editform_box {
  margin-top: 20px;
}

.input_box {
  display: flex;
  width: 100%;
}

.label {
  width: 30%;
  font-size: 15px;
}

.input {
  width: 70%;
  font-size: 15px;
}

.input > input {
  width: 250px;
  height: 35px;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.saveBtn_box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.saveBtn > button {
  color: #000000;
  margin: 10px;
  float: right;
  width: 200px;
  height: 40px;
  background: #f9e450;
  border: 2px solid #1b1b1b;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.saveBtn > a > button {
  color: #000000;
  margin: 10px;
  float: right;
  width: 200px;
  height: 40px;
  background: #f9e450;
  border: 2px solid #1b1b1b;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.saveBtn > button:hover {
  background: #ffbb38;
}

.saveBtn > a > button:hover {
  background: #ffbb38;
}
